.container div{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    float: left;
    border: 1px solid black;
    margin: 5px;
}

/* .container div:nth-child(+n+6){
    background-color: orange;
} */
/* .container div:nth-child(-n+5){
    background-color: orange;
} */
/* .container div:nth-child(4n+1){
    background-color: orange;
} */
/* .container div:nth-child(+n+7){
    background-color: orange;
} */
/* .container div:nth-child(+n+3){
    background-color: orange;
} */